

body{
    margin: 0;
    background-color:white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.Carrito{
    width: 40px;
    alt: 35px;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 1000px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: yellow;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}



.Logotipo{
    display: block;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
}
.navbar{
    padding:10px;
    background-color: yellow;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.Subnombres{
    text-align:center;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:  10px;
    border-width: 10px;
    padding-left: 10px;
    padding-right: 20px;
}           
 #p_descr{
    padding: 40px;
    margin: 0px;
    font-size:larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:black;
    color:yellow
 }
 p{
    padding: 40px;
    margin: 0px;
    font-size:larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:black;
    color:yellow
}

 .Usos{
    margin: 0px;
    font-size: 25px;
    text-align:center;
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

.flex-container{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

}
.flex-container .Uso1{ 
    order: 1;
    flex-grow: 5;
    flex-shrink:1;
    flex-basis: auto;
    align-self: auto;

}
.flex-container .Uso2{
    order: 2;
    flex-grow: 5;
    flex-shrink:1;
    align-self:auto;
}
.flex-container .Uso3{
    order: 3;
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
}
.flex-container .productos{
    display: flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: wrap;
    justify-content:baseline;
}
.flex-container .Tipo1{
    order: 1;
    flex-grow: 5;
    flex-shrink:1;
    flex-basis: auto;
    align-self: auto;
}
.flex-container .Tipo2{
    order: 2;
    flex-grow: 5;
    flex-shrink:1;
    align-self:auto;
}
.flex-container .Tipo3{
    order: 3;
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
}

